[Unit]
Description=Starts i3lock at suspend time
Before=sleep.target

[Service]
User=nigel
Type=forking
Environment=DISPLAY=:0
ExecStartPre=
ExecStart=/usr/bin/i3lock -i /home/nigel/wallpapers/arch1.png

[Install]
WantedBy=sleep.target
